.header {
    text-align: center;
}

.header img {
    width: 250px;
}

.mainmenu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mainmenu li {
    display: inline-block;
}

.mainmenu li a {
    display: block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
}

.mainmenu {
    background-color: #333;
    padding: 10px 0;
}

.mainmenu li a:hover {
    background: #fff;
    color: #333;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}